
<div class="container">
    <div class="row">
        {{#each posts}}
            <div class="col-md-6 p-4">
                <div class="card">
                    <div class="card-header text-center">
                        <a href="/posts/{{id}}" target="_blank">
                            <h4 class="card-title">
                                {{title}}
                            </h4>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="m-2">
                            {{body}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small><b>Created: </b>{{timeago createdAt}}</small>
                        <br />
                        <small><b>Updated:</b>{{timeago updatedAt}}</small>
                    </div>
                    <div class="card-footer text-right">
                        <a class="btn btn-danger" href="/posts/delete/{{id}}">
                            Delete Post
                        </a>
                        <a class="btn btn-secondary" href="/posts/edit/{{id}}">Edit</a>
                    </div>
                </div>
            </div>
        {{else}}
        <div class="col-md-6 mx-auto mt-4">
            <div class="card p-4">
                <div class="card-body text-center">
                    <p>There are no posts saved yed.</p>
                    <a href="/posts/add">Create One!</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>